<html>
	<head>
		<title>Share My Cab - Built with <3 and sweat at the Ruby Weekend Hackathon </title>
		<link href="/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script src="/jquery-1.9.1.min.js"></script>
		<script src="/jquery-ui.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap/css/hackathon.css" rel="stylesheet" type="text/css" />
		<!-- link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css' -->
	</head>

	<body>
		<!-- div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">ShareMyCab</a>
				</div>
			</div>
		</div -->
		<div class="container">
			<div class="header">
				<img src="images/shareMyCab-logo.png" height="50" width="200" />
			</div>
			<div class="info-section">
				<div class="row-fluid">
					<div class="span6">
						<img src="images/airplane.png"/>
					</div>
					<div class="span6">
						<h2>Save money and meet interesting people</h2>
						<p>Catching a cab from airports are always expensive. shareMyCab aims to solve this problem..the Indian way. Let us help you share a cab with someone travelling to the same area as you. Who knows, you may make some new friends along the way. Or maybe its just good value. Try shareMyCab to find out more.</p>					
					</div>					
				</div>
			</div>

			<div class="easy-way">
				<div class="row-fluid">					
					<div class="span4">
						<div class="media">
							<a class="pull-left" href="#">
							 	<img src="images/number1-300x300.png" class="media-object img-circle" height="80" width="80">
							</a>
							<div class="media-body">								
								<p>Tell us when you're arriving, at which airport and your destination from the airport.</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<a class="pull-left" href="#">
							 	<img src="images/number2-300x300.png" class="media-object img-circle" height="80" width="80">
							</a>
							<div class="media-body">
								<p>We will compare your travel itinerary by other people who've used shareMyCab and notify you by e-mail with a list of people travelling to the same area.</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="media">
							<a class="pull-left" href="#">
							 	<img src="images/number3-300x300.png" class="media-object img-circle" height="80" width="80">
							</a>
							<div class="media-body">								
								<p>Contact any person among the people we might have suggested to you and share a cab with anyone you choose to travel with.</p>
							</div>
						</div>						
					</div>
					<!-- <div class="span12">						
						<div class="well">
							<ul type="none">
								<li>
									<p><b>Tell us when and where you will be arriving</b></p>
									<p>Enter your destination, time and area you will be travelling to</p>
								</li>
								<li>
									<p><b>We will match your itinerary</b></p>
									<p>We will compare your travel itinerary by other people who've used shareMyCab and notify you by e-mail with a list of people travelling to the same area.</p>
								</li>
								<li>
									<p><b>You save money!</b></p>
									<p>Contact any person among the people we might have suggested to you and share a cab with anyone you choose to travel with and save money!</p>
								</li>
							</ul>
						</div>						
					</div>					 -->
				</div>
			</div>

			<div class="other-way">
				<div class="row-fluid">
					<div class="span4 offset4">
						<h2> Start Now! </h2>						
					</div>
				</div>

				
				<div class="row-fluid">
					<div class="span6 offset3">
						<div id="error-box" class="alert">
							<h4>Whoops! Looks like something went wrong...</h4>
							<div id="error-message"></div>
						</div>
					</div>
				</div>

				<div id="info-box" class="row-fluid">
					<div class="span6 offset3">
						<div class="alert">
							<h4>Success!!</h4>
							<div >
								<ul>
									<li>We've successfully saved your details</li>
									<li>Now hold on tight. We'll mail you if there are other people travelling to the same area</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<div class="row-fluid">
					<div class="span3"></div>
					<div class="span6">
						<form id="submit-form" class="form-horizontal">
							<div class="control-group">
							 	<label class="control-label">Name</label>
								<div class="controls">
									<input type="text" name="name" placeholder="your full name" value="<%= @form.name %>" />
								</div>
							</div>							
							<div class="control-group">
							 	<label class="control-label">Email</label>
								<div class="controls">
									<input type="email" name="email" placeholder="your email address" value="<%= @form.email %>"/>
								</div>
							</div>							
							<div class="control-group">
							 	<label class="control-label">Phone</label>
								<div class="controls">
									<input type="phone" name="phone" placeholder="your phone number" value="<%= @form.phone %>"/>
								</div>
							</div>							
							<div class="control-group">
							 	<label class="control-label">I need a cab from</label>
								<div class="controls">
									<select name="airport">
										<% for airport in POPULAR_AIRPORTS %>
											<option value="<%= airport[0] %>"><%= airport[1] %></option>
										<% end %>
											<option>---------</option>
										<% for airport in AIRPORTS %>
											<option value="<%= airport[0] %>"><%= airport[1] %></option>
										<% end %>
									</select>
								</div>
							</div>							
							<div class="control-group">
							 	<label class="control-label">I'm arriving at</label>
								<div class="controls">
									<input name="date" type="date" id="trip_date" value="<%= @form.date %>" placeholder="Arrival date"/>  on <input name="time" type="time" id="trip_time" value="<%= @form.time %>" placeholder="Arrival Time"/>
								</div>
							</div>
							<!-- div class="control-group">
							 	<label class="control-label">Flight/Train Number(Optional)</label>
								<div class="controls">
									<input type="text">
								</div>
							</div -->

							<div class="row-fluid">
								<div class="span3"></div>
								<div class="span6" style="margin-bottom: 20px;">
									<hr style=" border-color: #4a7b95;"/>
								</div>
								<div class="span3"></div>
							</div>
							
							<div class="control-group">
							 	<label class="control-label">I want to take a cab till</label>
								<div class="controls">
									<input type="text" name="address" value="<%= @form.address %>" id="address" />
									<input type="hidden" name="destination_ref_key" id="reference_key" />
								</div>
							</div>
							<div class="control-group">
							 	<label class="control-label">I don't mind waiting</label>
								<div class="controls">
									<input type="hidden" name="time_tolerance" value="<%= @form.time_tolerance || 10 %>"/>
									<div id="time_slider_value">10 minutes</div>
									<div id="time_slider"></div>
								</div>
							</div>
							<div class="control-group">
							 	<label class="control-label">I don't mind travelling out of my way</label>
								<div class="controls">
									<input type="hidden" name="km_tolerance" value="<%= @form.km_tolerance || 3 %>"/>
									<div id="km_slider_value">3 kms</div>
									<div id="km_slider"></div>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">									
									<a id="save-button" class="btn btn-large btn-primary">Submit</a>
								</div>
							</div>							
						</form>
					</div>
				</div>
			</div>

			<div class="footer">								
				<div class="row-fluid">
					<div class="span5">
						<div class="row-fluid">
							<div class="span6">
								<h4>The Hackers</h4>
								<div class="row-fluid">
									<div class="span12">
										<img src="images/shanker.png" data-toggle="tooltip" title="Shanker Naik" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
										<img src="images/rajdeep.png" data-toggle="tooltip" title="Rajdeep Mandrekar" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">									
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12">
										<img src="images/tanay.png" data-toggle="tooltip" title="Tanay Prabhudessai" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
										<img src="images/ankit.png" data-toggle="tooltip" title="Ankit Jain" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
									</div>
								</div>			
							</div>
							<div class="span6">
								<h4>The Vacationlabs Team</h4>
								<div class="row-fluid">
									<div class="span12">
										<img src="images/saurabh2.png" data-toggle="tooltip" title="Saurabh Nanda" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
										<img src="images/bhagyesh.png" data-toggle="tooltip" title="Bhagyesh Ghanekar" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12">
										<img src="images/ashwin.png" data-toggle="tooltip" title="Ashwin Saval" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
										<img src="images/vandita2.png" data-toggle="tooltip" title="Vandita Kane" height="70" width="70" style="max-height: 70px; max-width:70px;" class="img-circle">
									</div>
								</div>
							</div>
						</div>					  
					</div>
					<div class="span7">
						<h2> Meet The Team</h2>
						<p>
							This application was the result of a rigorous 48 hour <a target="_blank" href="http://www.vacationlabs.com/hackathon">hackathon</a> organized by <a target="_blank" href="http://www.vacationlabs.com">Vacationlabs</a> at Porvorim, Goa. Shanker, Rajdeep, Tanay and Ankit sacrificed a weekend in the name of technology and building something for the greater good of us humans ! :).
						</p>
					</div>
				</div>
			</div>
		</div>		
	</body>

	<script type="text/javascript">
		$(document).ready(function() {			
			$("#info-box").hide();
			$("#error-box").hide();

			$("#save-button").click(function(){
				$(this).attr('disabled', true);
				$.ajax({
				url: "submit",
				data: $("#submit-form").serialize(),
				dataType: 'JSON',
				method: 'POST'
				}).success(function(data){
					$("#info-box").fadeIn("2000").delay("4000").fadeOut("2000");
					$("#save-button").attr('disabled', false);
					$("#submit-form").find("input[type=text], input[type=email], input[type=date], input[type=time], input[type=phone]").val("");
					$("#error-box").hide();
				}).error(function(data){
					$("#error-box").show();
					$("div#error-message").text(data.responseText);					
					$("#save-button").attr('disabled', false);
				});
			});

			$("input[name=date]").datepicker({
				'dateFormat' : 'yy-mm-dd',
				'minDate' : new Date()
			});

			$('#time_slider').slider({
				'min' : 0,
				'max' : 30,
				'value' : 10,
				'step' : 5,
				'change' : function(event, ui) {
					$('#time_slider_value').html(ui.value + ' minutes');
					$('input[name=time_tolerance]').val(ui.value);
				}
			});

			$('#km_slider').slider({
				'min' : 0,
				'max' : 10,
				'value' : 3,
				'step' : 1,
				'change' : function(event, ui) {
					$('#km_slider_value').html(ui.value + ' kms');
					$('input[name=km_tolerance]').val(ui.value);
				}
			});

			var address_with_reference = [];
			$( "#address" ).autocomplete({				
				source: function(request, responseFn) {					
					$.ajax({
					url: "/places/"+$("#address").val()
					}).success(function(data){
						var availableAddress = [];
						
						$.each(data["address_prediction"], function(index, value){							
							availableAddress.push(value.address);
							address_with_reference.push(value)
						});
						responseFn(availableAddress);
					});
				},
				select: function(event,ui) {
					
					$.each(address_with_reference,function(i, v){
				    if (ui.item.value == v.address){
				      $('#reference_key').val(v["reference_key"]);
				    }
				  });
					$(this).val("ui.item.value");					
				}
			});			
		});
	</script>
</html>	